.blurred-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;
}

.main-header {
	margin-bottom: 200px;
	padding: 0px;
}

h1, h2, li.nav-h1 a{
	font-family: 'Fjalla One', sans-serif !important;
}

div, p, h3, h4, a, li, li.nav-h2 a {
	font-family: 'Armata', sans-serif;
}

li.open:hover {
	background-color: #FFF;
}

h1 a {
    color: black;
}

a {
    color: rgb(24, 232, 163);
}

a:hover{
    color: rgba(24, 232, 163, 0.5);
    text-decoration: none;
}

.nav-h1:hover, ul.dropdown-menu li.nav-h2 a:hover, .nav-h2:hover {
	background-color: rgba(24, 232, 163, 0.5);
	background-image: none;
}

.even {
	background-color: #DBDBDB;
    padding-top: 3%;
    padding-bottom: 3%;
}

.odd {
	background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
}

img.icons {
    width: 100%;
	max-width: 75px;
}

.headerBackground {
	background-position: center;
}

.headerLogo {
	width: 50%;
	max-width: 700px;
	padding:80px 0px;
}

.xtraSpaceHeader {
	margin-top: 50px;
}

.icon-cn {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
}

.jumbotron {
    background-size: cover;
    transition:height 0.5s;
    margin-bottom: 0px;
}

#jumbotron-card{
    background-color: #ffffff;
    padding: 10px;
}

.container {
    margin-left: 0px;
}

.archive-months, .archive-posts{
    display: none;
}

.clicky {
    cursor: pointer;
}

.card-img-top{
    object-fit: fill;
}

.card {
    height: 100%;
}

.card:hover{
    border-style: groove;
    border-color: rgb(24, 232, 163);
}

.card-title, .card-text {
    color: black;
}

.blogNav:hover {
     background-color: rgba(24, 232, 163, 0.5);
 }

div#footer{
    background-color: #DBDBDB;
    padding:0px auto;
}


.alert-banner {
    background-color: rgba(255, 58, 58, 0.6);
    width: 100%;
    text-align: center;
    color: black !important;
}

.post-content img {
    clear: right;
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
    max-width: 50%;
    height: auto;
}

.post-content h2, .post-content h3, .post-content h4{
    margin-top: 30px;
}

.post-content blockquote{
    margin: 0 10%;
    text-align: justify;
    background-color: rgba(24, 232, 163, 0.1);
}

#more, #back {
    color: black;
}

.blogNav{
    margin: 0;
}

.carousel-image{
    object-fit: cover;
    object-position: center center;
}

.joe-img{
    width: 65%;
    max-width: 300px;
    max-height: 300px;
    object-fit: scale-down;
}

.archive-selector{
    width: 15px;
}

#copyright{
    font-size: 0.8rem;
    text-align:center;
}

#score {
    border: 1px solid;
    border-radius: 20px;
}

.score-number {
    font-size: 10vh;
}

.p-score {
    line-height: 1;
}

.score-divider {
    width: 1px;
    margin: 10px 0;
    background: lightgrey;
}