/*Site Colour Palette*/
:root {
    --jf-beige: rgba(234, 229, 226, 1);
    --jf-dark: rgba(15, 23, 35, 1);
    --jf-blue: rgba(76, 113, 137, 1);
    --jf-light: rgba(232, 231, 238, 1);
    --jf-green: rgba(39, 62, 72, 1);
}

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'),
    url('fonts/noto-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/noto-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Sans Italic'), local('NotoSans-Italic'),
    url('fonts/noto-sans-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/noto-sans-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
    url('fonts/noto-sans-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/noto-sans-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('fonts/noto-sans-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/noto-sans-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*prevent horizontal scrolling on mobile*/
@media only screen and (max-device-width: 480px) {
    body, html { overflow-x:hidden; }
}


.blurred-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0;
}

.main-header {
	margin-bottom: 200px;
	padding: 0px;
}

h1, h2, li.nav-h1 a{
    font-family: 'Noto Sans Bold', sans-serif
}

div, p, h3, h4, a, li, li.nav-h2 a {
	font-family: 'Noto Sans', sans-serif
}

a{
    color: var(--jf-blue);
}

li.open:hover {
	background-color: var(--jf-light);
}

.nav-h1:hover, ul.dropdown-menu li.nav-h2 a:hover, .nav-h2:hover {
	background-color: var(--jf-blue);
	background-image: none;
}

.navbar{
    background-color: var(--jf-beige);
}

.even {
	background-color: var(--jf-beige);
    padding-bottom: 3%;
}

.odd {
    padding-bottom: 3%;
}

img.icons {
    width: 100%;
	max-width: 30px;
}

.headerBackground {
	background-position: center;
}

.headerLogo {
	width: 50%;
	max-width: 700px;
	padding:80px 0px;
}

.xtraSpaceHeader {
	margin-top: 50px;
}

.icon-cn {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
}

.jumbotron {
    background-size: cover;
    transition:height 0.5s;
    margin-bottom: 0px;
}

.container {
    margin-left: 0px;
}

.archive-months, .archive-posts{
    display: none;
}

.clicky {
    cursor: pointer;
}

.card-img-top{
    object-fit: fill;
}

.card {
    height: 100%;
}

.card:hover{
    border-style: groove;
    border-color: var(--jf-blue);
}

.card-title, .card-text {
    color: black;
}

div#footer{
    background-color: var(--jf-light);
    padding:0px auto;
}


.alert-banner {
    background-color: var(--jf-beige);
    width: 100%;
    text-align: center;
    color: black !important;
}

.post-content {
    padding-top: 2%;
}

.post-content img {
    clear: right;
    float: right;
    margin: 1rem;
    max-width: 40%;
    height: auto;
}

.post-content h2, .post-content h3, .post-content h4{
    margin-top: 30px;
}

.post-content blockquote{
    display: flow-root;
    margin: 3% 7%;
    text-align: justify;
    background-color: var(--jf-beige);
    padding: 1%;
    font-style: normal;
}

.post-content blockquote p{
    margin: auto;
}

.post-content blockquote p:last-child{
    font-size: smaller;
    font-style: italic;
}

.post-content blockquote p:first-child{
    color: var(--jf-green);
    font-size: inherit;
    font-style: normal;
}

#more, #back {
    color: black;
}

.blogNav{
    margin: 0;
    -webkit-animation: pulse-rev 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation: pulse-rev 0.5s;
    animation-fill-mode: forwards;
}

.blogNav:hover {
    -webkit-animation: pulse 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation: pulse 0.5s;
    animation-fill-mode: forwards;
}

button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


.carousel-image{
    object-fit: cover;
    object-position: center center;
}

.joe-img{
    width: 65%;
    max-width: 300px;
    max-height: 300px;
    object-fit: scale-down;
}

.archive-selector{
    width: 15px;
}

/* Desktop*/
@media screen and (min-width: 768px) {
    .show-desktop{
        display: block;
    }
}

#copyright{
    font-size: 0.8rem;
    text-align:center;
    margin-bottom: 0px;
}

#score {
    border: 1px solid;
    border-radius: 20px;
    border-color: var(--jf-dark);
}

.score-number {
    font-size: 10vh;
}

.p-score {
    line-height: 1;
}

.score-divider {
    width: 1px;
    margin: 10px 0;
    background: var(--jf-dark);
}

.link {
    color: black;
    position: relative;
    text-decoration: none;
}

.archive-col {
    border-right: 0.2pt solid var(--jf-blue);
}

.archive {
    list-style: none;
    padding-left: 0px;
}

#update-date {
    font-style: italic;
    text-align: end;
}

.link::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--jf-blue);
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}

.link:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.link:hover {
    color: black;
    text-decoration: none;
}

.link:active{
    color: var(--jf-blue);
}