<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>The Joe Flow</title>
</head>
<body>

<div id="navbar" th:insert="~{navbar}"/>

<div class="container-fluid odd mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mx-auto" style="text-align:center;">Archive</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container mx-auto" style="max-width:900px;">
                <hr>
                <tr th:each="blogPost : ${posts}">
                        <div class="row mx-auto clicky archive-post" th:attr="data-link=@{'/blog/post/' + ${blogPost.urlTitle}}">
                            <div class="col-4">
                                <h3 th:text="${blogPost.title}">Post Title</h3>
                                <p style="font-size: smaller;font-style: italic" th:text="${#dates.format(blogPost.published, 'EEEEEEEEEE, MMMMMMMMMMM d yyyy')}">
                                    Published Date
                                </p>
                                <div id="rating-col">
                                    <img th:each="_ : ${#numbers.sequence(1, blogPost.numberOfWholeStars, 1)}" class="small-star" src="/icons/star.png">
                                    <img th:each="_ : ${#numbers.sequence(1, blogPost.numberOfHalfStars, 1)}" class="small-star" src="/icons/half_star.png">
                                </div>
                            </div>
                            <div class="col-5 py-3 px-0">
                                <img class="mx-auto d-block" style="height:150px;" th:src="${blogPost.firstImage}" alt="Blog Post Image">
                            </div>
                            <div class="col-3 archive-score-box" th:if="${blogPost.type == T(com.thejoeflow.domain.PostType).FICTION_REVIEW}">
                                <h5 style="text-decoration: underline">Fiction Score</h5>
                                <p><b>Imagery: </b><span th:text="${blogPost.score.scores[0] + '/7'}">4</span></p>
                                <p><b>Entertainment: </b><span th:text="${blogPost.score.scores[1] + '/7'}">5</span></p>
                                <p><b>Writing: </b><span th:text="${blogPost.score.scores[2]} + '/7'">6</span></p>
                            </div>
                            <div class="col-3 archive-score-box" th:if="${blogPost.type == T(com.thejoeflow.domain.PostType).NON_FICTION_REVIEW}">
                                <h5 style="text-decoration: underline">Non-Fiction Score</h5>
                                <p><b>Value: </b><span th:text="${blogPost.score.scores[0] + '/7'}">4</span></p>
                                <p><b>Interest: </b><span th:text="${blogPost.score.scores[1] + '/7'}">5</span></p>
                                <p><b>Writing: </b><span th:text="${blogPost.score.scores[2]} + '/7'">6</span></p>
                            </div>
                        </div>
                    <hr>
                </tr>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer}"/>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/javascript/archive.js"></script>
<script src="/javascript/common.js"></script>
</body>
</html>