<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Armata|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>The Joe Flow</title>
</head>
<body>
<div id="navbar" th:insert="~{navbar}"/>

<div class="container-fluid odd">
    <div class="row">
        <div class="col-md-2 col-12 sidebar mr-3">
            <div class="container sticky-top">
                <div class="row" id="archiveRow" th:insert="~{archive}"/>
            </div>
        </div>

        <div id="posts" class="col-md-6 col-12">
            <tr th:each="post : ${posts}">
                <div class="blog-post pb-5">
                    <div class="row">
                        <h1 th:text="${post.title}">Post Title</h1>
                    </div>
                    <div class="row">
                        <h3 th:text="${post.published}">published date</h3>
                    </div>
                    <div class="row">
                        <div class="post-content" th:utext="${post.content}">post content</div>
                    </div>
                </div>
            </tr>

            <div class="row">
                <div class="col-6 blogNav" th:unless="${currentPage == 0}">
                    <a th:with="lastPage=${currentPage - 1}" th:href="@{'/blog/' + ${lastPage}}">
                        <div id="back" class="row">
                            <img style="float:left" src="/images/double-left-arrow.png"><h2 style="margin:0px">Back</h2>
                        </div>
                    </a>
                </div>
                <div class="col-6 blogNav" th:unless="${currentPage == totalPages}">
                    <a th:with="nextPage=${currentPage + 1}" th:href="@{'/blog/' + ${nextPage}}">
                        <div id="more" class="ml-5 float-right row">
                            <h2 style="margin:0px">More</h2><img style="float:right" src="/images/double-right-arrow.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 d-none d-lg-block">
            <div class="container sticky-top">
                <div id="nav-col" class="col-12">
                    <div class="row blogNav text-center clicky" id="top-of-page">
                        <div class="col-12">
                            <img class="arrow-icon" src="/images/double-up-arrow.png" alt="Top of Page">
                        </div>
                    </div>
                    <div id="pull-down">
                        <div class="row blogNav text-center my-2 clicky" id="prev-post">
                            <div class="col-12">
                                <img class="arrow-icon" src="/images/up-arrow.png" alt="Up Arrow">
                            </div>
                        </div>
                        <div class="row blogNav text-center my-2 clicky" id="next-post">
                            <div class="col-12">
                                <img class="arrow-icon" src="/images/down-arrow.png" alt="Down Arrow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{footer}"/>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/javascript/blog.js"></script>
<script src="/javascript/common.js"></script>
</body>
</html>