<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Armata|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>The Joe Flow</title>
</head>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body>
<div th:insert="~{navbar}"/>

<div class="container odd">
    <div class="row">
        <div class="col-md-3 col-12 sidebar">
            <div class="container sticky-top">
                <div class="row" id="archiveRow" th:insert="~{archive}"/>
                <div class="row pull-down">
                    <div class="col-12">
                        <div class="row blogNav text-center">
                            <div class="col-12">
                                <img class="arrow-icon" id="top-of-page" src="double-up-arrow.png" alt="Top of Page">
                            </div>
                        </div>
                        <div class="row blogNav text-center">
                            <div class="col-12">
                                <img class="arrow-icon" id="prev-post" src="up-arrow.png" alt="Up Arrow">
                            </div>
                        </div>
                        <div class="row blogNav text-center">
                            <div class="col-12">
                                <img class="arrow-icon" id="next-post" src="down-arrow.png" alt="Down Arrow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-12">
            <tr th:each="post : ${posts}">
                <div class="row">
                    <h1 th:text="${post.title}">Post Title</h1>
                </div>
                <div class="row">
                    <h3 th:text="${post.published}">published date</h3>
                </div>
                <div class="row">
                    <div class="post-content" th:utext="${post.content}">post content</div>
                </div>
            </tr>
        </div>
    </div>
</div>

<div th:insert="~{footer}"/>

<script>
    $(".year,.month").click(function(){
        $(this).next("ul").toggle();
        var selector = $(this).find("span.archive-selector");
        if(selector.text() == "▼"){
            selector.text("▶");
        }
        else{
            selector.text("▼");
        }
    });

    $('.pull-down').each(function() {
        var $this = $(this);
        var container = $this.parent().parent().parent().parent();
        var containerPadding = container.innerWidth() - container.width();
        $this.css('padding-top', window.innerHeight - $(".navbar").outerHeight() - $("#archiveRow").outerHeight() - containerPadding - $this.height())
    });
</script>
</body>
</html>