<!DOCTYPE html>
<html lang="en">
<div id="footer" class="container-fluid">
    <div class="row">
        <h1 class="mx-auto" id="Connect">Connect</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="text-center">
                <a href="https://www.linkedin.com/in/joseph-boudreau-99998765">
                    <img class="icons" src="/icons/LinkedIn.png" onmouseover="this.src='/icons/LinkedIn-hover.png';" onmouseout="this.src='/icons/LinkedIn.png';">
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="text-center">
                <a href="https://github.com/thejoeflow">
                    <img class="icons" src="/icons/GitHub.png" onmouseover="this.src='/icons/GitHub-hover.png';" onmouseout="this.src='/icons/GitHub.png';">
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="text-center icon-cn">
                <a href="mailto:josephboudreau1@gmail.com">
                    <img class="icons" src="/icons/gmail.png" onmouseover="this.src='/icons/gmail-hover.png';" onmouseout="this.src='/icons/gmail.png';">
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="text-center">
                <a href="https://www.vsco.co/thejoeflow">
                    <img class="icons" src="/icons/vsco.png" onmouseover="this.src='/icons/vsco-hover.png';" onmouseout="this.src='/icons/vsco.png';">
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="text-center">
                <a href="https://hypem.com/thejoeflow">
                    <img class="icons" src="/icons/hypem.png" onmouseover="this.src='/icons/hypem-hover.png';" onmouseout="this.src='/icons/hypem.png';">
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p>josephboudreau1@gmail.com</p>
    </div>
    <div class="row odd" style="padding-top: 3%;">
        <p class="mx-auto" id="copyright">Copyright © 2018 Joseph Boudreau <br>
            This site and its source code is licensed under the <a href="https://www.gnu.org/licenses/">GNU General Public License 3.0</a>
        </p>
    </div>
</div>
</html>