<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<nav class="navbar navbar-light navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--/*@thymesVar id="home" type="boolean"*/-->
    <a th:unless="${home}" class="navbar-brand" href="/home"><img src="/images/jflogo_small_whitebg.png"/></a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link" href="/blog/archive">Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link" href="#Connect">Connect</a>
            </li>
        </ul>
    </div>
</nav>
</html>