<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Armata|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>The Joe Flow</title>
</head>
<body>
<div id="navbar" th:insert="~{navbar}"/>

<div class="container-fluid odd">
    <div class="row">
        <div class="col-md-2 col-12 sidebar mr-5" th:insert="~{archive}"/>

        <div class="blog-post col-md-6 col-12">
            <div class="row">
                <h1 th:text="${blogPost.title}">Post Title</h1>
            </div>
            <div class="row">
                <h4 th:text="${#dates.format(blogPost.published, 'EEEEEEEEEE, MMMMMMMMMMM d yyyy')}">published date</h4>
            </div>
            <div class="row">
                <div class="post-content" th:utext="${blogPost.content}">post content</div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{footer}"/>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(".year,.month").click(function(){
        $(this).next("ul").toggle();
        var selector = $(this).find("span.archive-selector");
        if(selector.text() == "▼"){
            selector.text("▶");
        }
        else{
            selector.text("▼");
        }
    })
</script>
<script src="/javascript/common.js"></script>
</body>
</html>